.container {
  padding-inline: 20px;
  overflow: none;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.section__about {
  display: grid;
  column-gap: 24px;
  row-gap: 32px;
}
@media (min-width: 576px) {
  .section__about {
    grid-template-columns: repeat(2, 1fr);
  }
}
.section__about-title {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
}
@media (min-width: 576px) {
  .section__about-title {
    font-size: 48px;
    line-height: 48px;
  }
}
@media (min-width: 1024px) {
  .section__about-title {
    font-size: 64px;
    line-height: 64px;
  }
}
.section__about-description {
  margin: 0;
  font-weight: 500;
  font-size: 23px;
  line-height: 32px;
}