.container {
  padding-inline: 20px;
  overflow: none;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.contacts {
  display: grid;
  row-gap: 48px;
}
@media (min-width: 576px) {
  .contacts {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .contacts {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 200px;
  }
}
.contacts__adress:not(:last-child) {
  margin-bottom: 24px;
}
.contacts .text_field {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  resize: none;
}
.contacts input,
.contacts textarea.text_field {
  display: block;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  padding-left: 16px;
  outline: none;
}
.contacts input:-webkit-autofill,
.contacts textarea.text_field:-webkit-autofill {
  box-shadow: 0 0 0 100px #F8F8FA inset;
}
.contacts__field {
  width: 100%;
  border-radius: 15px;
  border: none;
  padding: 14px 0;
  margin-bottom: 16px;
  background-color: #F8F8FA;
}
.contacts__field:focus {
  border: 1px solid #292929;
}
.contacts__field--input {
  border-radius: 40px;
}
.contacts__name {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
.contacts__data {
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  transition: all 0.8s;
}
.contacts__data-link {
  text-decoration: none;
  color: #fff;
}
.contacts__data:hover {
  color: #696969;
}