.container {
  padding-inline: 20px;
  overflow: none;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}
@media (min-width: 576px) {
  .icon--slider a:hover::after {
    content: "+1 234 5555-55-55";
    position: absolute;
    text-align: center;
    width: 200px;
    right: 20px;
    padding-block: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
.icon:hover {
  transform: scale(1.2);
}
@media (min-width: 576px) {
  .icon {
    height: 32px;
    width: 32px;
  }
}
.icon--phone {
  background-image: url(../images/icon/icon-phone.svg);
  background-repeat: no-repeat;
}
.icon--menu {
  background-image: url(../images/icon/icon-burger.svg);
  background-repeat: no-repeat;
}
.icon--menu:hover {
  background-image: url(../images/icon/icon-burger-hover.svg);
}
.icon--close {
  background-image: url(../images/icon/icon-close.svg);
  background-repeat: no-repeat;
}