.container {
  padding-inline: 20px;
  overflow: none;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.container {
  padding-inline: 20px;
  overflow: none;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.header {
  background-image: url(../images/header-bg-mobile.png);
  background-repeat: no-repeat;
  background-position: 85%;
  background-attachment: fixed;
  background-size: cover;
}
@media (min-width: 576px) {
  .header {
    background-position: 40% 60%;
  }
}
.header__content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1.5px;
}
@media (min-width: 576px) {
  .header__title {
    font-size: 64px;
  }
}
.header__bottom {
  text-align: center;
  margin: 0;
  padding-bottom: 88px;
}
@media (min-width: 744px) {
  .header__bottom {
    padding-bottom: 130px;
  }
}
@media (min-width: 1200px) {
  .header__bottom {
    padding-bottom: 203px;
  }
}

.container {
  padding-inline: 20px;
  overflow: none;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}
@media (min-width: 576px) {
  .icon--slider a:hover::after {
    content: "+1 234 5555-55-55";
    position: absolute;
    text-align: center;
    width: 200px;
    right: 20px;
    padding-block: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
.icon:hover {
  transform: scale(1.2);
}
@media (min-width: 576px) {
  .icon {
    height: 32px;
    width: 32px;
  }
}
.icon--phone {
  background-image: url(../images/icon/icon-phone.svg);
  background-repeat: no-repeat;
}
.icon--menu {
  background-image: url(../images/icon/icon-burger.svg);
  background-repeat: no-repeat;
}
.icon--menu:hover {
  background-image: url(../images/icon/icon-burger-hover.svg);
}
.icon--close {
  background-image: url(../images/icon/icon-close.svg);
  background-repeat: no-repeat;
}

.container {
  padding-inline: 20px;
  overflow: none;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #c2c2c2;
  font-weight: 600;
  text-transform: uppercase;
}
.menu__nav {
  margin-bottom: 40px;
}
.menu__phone-number {
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 27px;
  color: #1d1d1d;
  text-decoration: none;
}
.menu__test-ride {
  display: block;
  padding-bottom: 7px;
  border-bottom: 1px solid #1d1d1d;
  width: fit-content;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #1d1d1d;
  text-decoration: none;
}

.container {
  padding-inline: 20px;
  overflow: none;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.nav__link {
  position: relative;
  color: #1d1d1d;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}
.nav__link::after {
  content: " ";
  position: absolute;
  bottom: -8px;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #1d1d1d;
  transition: transform 0.3s;
  transform: scale(0);
  transform-origin: left;
}
.nav__link:hover::after {
  transform: scale(1);
}

.container {
  padding-inline: 20px;
  overflow: none;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.page {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  scroll-behavior: smooth;
}
.page__body {
  margin: 0;
  min-width: 320px;
}
.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  overflow: scroll;
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(-100%);
  pointer-events: none;
}
.page__menu:target {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.container {
  padding-inline: 20px;
  overflow: none;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.top-bar {
  padding-block: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 576px) {
  .top-bar {
    padding-block: 36px;
  }
}
.top-bar__icons {
  display: flex;
  position: relative;
  gap: 24px;
}
.top-bar__logo-link {
  display: flex;
}
.top-bar__logo {
  height: 38px;
  transition: transform 0.3s;
}
.top-bar__logo:hover {
  transform: scale(1.2);
}
@media (min-width: 576px) {
  .top-bar__logo {
    height: 44px;
  }
}

.container {
  padding-inline: 20px;
  overflow: none;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.section-title {
  margin: 0;
  margin-bottom: 48px;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -1.5px;
  line-height: 100%;
  text-align: center;
}
@media (min-width: 576px) {
  .section-title {
    font-size: 48px;
    margin-bottom: 64px;
  }
}
@media (min-width: 1024px) {
  .section-title {
    font-size: 64px;
  }
}
.section-title--align-left {
  text-align: left;
}

.container {
  padding-inline: 20px;
  overflow: none;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.main {
  background-color: #1d1d1d;
}
.main__content {
  display: grid;
  row-gap: 96px;
  padding-block: 96px;
}
@media (min-width: 576px) {
  .main__content {
    row-gap: 120px;
    padding-block: 120px;
  }
}

.container {
  padding-inline: 20px;
  overflow: none;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.product__photo {
  width: 100%;
}

.container {
  padding-inline: 20px;
  overflow: none;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.recommended__products {
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  row-gap: 40px;
}
@media (min-width: 576px) {
  .recommended__products {
    --columns: 6;
    column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .recommended__products {
    --columns: 12;
  }
}
.recommended__product {
  grid-column: 1/-1;
}
@media (min-width: 576px) {
  .recommended__product {
    grid-column: 2/-2;
  }
}
@media (min-width: 1024px) {
  .recommended__product {
    grid-column: span 4;
  }
}
.recommended__product:hover {
  transform: scale(110%);
  transition: all 0.8s;
  box-shadow: 1px 1px 3px 2px rgba(80, 70, 80, 0.44);
  border-radius: 30px;
  padding: 15px;
}
.recommended__btn {
  margin-top: 40px;
}
.recommended__btn-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.container {
  padding-inline: 20px;
  overflow: none;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.categories__wrapper {
  display: grid;
  row-gap: 40px;
}
@media (min-width: 576px) {
  .categories__wrapper {
    row-gap: 64px;
  }
}

.category__photos {
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  margin-bottom: 16px;
}
@media (min-width: 576px) {
  .category__photos {
    --columns: 6;
    column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .category__photos {
    --columns: 12;
  }
}
.category__link {
  position: relative;
}
@media (min-width: 576px) {
  .category__link--wide {
    grid-column: span 4;
  }
}
@media (min-width: 1024px) {
  .category__link--wide {
    grid-column: span 8;
  }
}
.category__link--square {
  height: 0;
  padding-bottom: 100%;
}
@media (min-width: 576px) {
  .category__link--square {
    grid-column: span 2;
  }
}
@media (min-width: 1024px) {
  .category__link--square {
    grid-column: span 4;
  }
}
.category__photo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in;
}
.category__benefits {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}
.category__benefits-description {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.container {
  padding-inline: 20px;
  overflow: none;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.section__about {
  display: grid;
  column-gap: 24px;
  row-gap: 32px;
}
@media (min-width: 576px) {
  .section__about {
    grid-template-columns: repeat(2, 1fr);
  }
}
.section__about-title {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
}
@media (min-width: 576px) {
  .section__about-title {
    font-size: 48px;
    line-height: 48px;
  }
}
@media (min-width: 1024px) {
  .section__about-title {
    font-size: 64px;
    line-height: 64px;
  }
}
.section__about-description {
  margin: 0;
  font-weight: 500;
  font-size: 23px;
  line-height: 32px;
}

.container {
  padding-inline: 20px;
  overflow: none;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.contacts {
  display: grid;
  row-gap: 48px;
}
@media (min-width: 576px) {
  .contacts {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .contacts {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 200px;
  }
}
.contacts__adress:not(:last-child) {
  margin-bottom: 24px;
}
.contacts .text_field {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  resize: none;
}
.contacts input,
.contacts textarea.text_field {
  display: block;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  padding-left: 16px;
  outline: none;
}
.contacts input:-webkit-autofill,
.contacts textarea.text_field:-webkit-autofill {
  box-shadow: 0 0 0 100px #F8F8FA inset;
}
.contacts__field {
  width: 100%;
  border-radius: 15px;
  border: none;
  padding: 14px 0;
  margin-bottom: 16px;
  background-color: #F8F8FA;
}
.contacts__field:focus {
  border: 1px solid #292929;
}
.contacts__field--input {
  border-radius: 40px;
}
.contacts__name {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
.contacts__data {
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  transition: all 0.8s;
}
.contacts__data-link {
  text-decoration: none;
  color: #fff;
}
.contacts__data:hover {
  color: #696969;
}

.container {
  padding-inline: 20px;
  overflow: none;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.btn {
  width: 100%;
  font-size: 16px;
  border-radius: 40px;
  padding: 14px 0;
  text-align: center;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.8s;
}

.btn:hover {
  box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
}

.btn:active {
  box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
}

@media (min-width: 576px) {
  .recommended__btn {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .recommended__btn {
    display: flex;
    justify-content: center;
  }
}
.recommended__btn-block {
  display: block;
  border-radius: 40px;
  padding: 14px 0;
  text-align: center;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.8s;
}
@media (min-width: 576px) {
  .recommended__btn-block {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .recommended__btn-block {
    width: 33.33%;
  }
}
.recommended__btn-block:hover {
  box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
}
.recommended__btn-block:active {
  box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
}

.footer {
  height: 50vh;
}
@media (min-width: 1024px) {
  .footer {
    height: 100vh;
  }
}
.footer-block {
  background-image: url("../images/footer__background.png");
  height: 100%;
  width: 100%;
  background-position: 60% 60%;
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=mains.css.map */
