.container {
  padding-inline: 20px;
  overflow: none;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.main {
  background-color: #1d1d1d;
}
.main__content {
  display: grid;
  row-gap: 96px;
  padding-block: 96px;
}
@media (min-width: 576px) {
  .main__content {
    row-gap: 120px;
    padding-block: 120px;
  }
}