.container {
  padding-inline: 20px;
  overflow: none;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.section-title {
  margin: 0;
  margin-bottom: 48px;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -1.5px;
  line-height: 100%;
  text-align: center;
}
@media (min-width: 576px) {
  .section-title {
    font-size: 48px;
    margin-bottom: 64px;
  }
}
@media (min-width: 1024px) {
  .section-title {
    font-size: 64px;
  }
}
.section-title--align-left {
  text-align: left;
}